DATABASE_URL=""

API_PORT=12345678

# JWT variables
JWT_SECRET_KEY=qwerty
JWT_REFRESH_SECRET_KEY=qwerty 
ACCESS_TOKEN_LIFESPAN=1m # on minute
REFRESH_TOKEN_LIFESPAN=1h # on hour

# REDIS
REDIS_HOST=rh
REDIS_PORT=1
REDIS_PASSWORD=""
REDIS_DB=0

# FOR FILE UPLOAD
STORAGE_PATH=/app/uploads